.hasDatepicker {
    background-image: url("../../Images/calendar_picker.svg") !important;
    background-repeat: no-repeat !important;
    background-position: right center !important;
    background-size: 47px 47px !important;
}
.panArticleDataList_TableBody_Cell .hasDatepicker {
    background-image: url("../../Images/calendar_picker.svg") !important;
    background-repeat: no-repeat !important;
    background-position: right -4px center !important;
    background-size: 40px 40px !important;
}

.ui-datepicker {
    display: none;
    z-index: 9 !important;
    background-color: #ffffff;
    width: 300px;
    height: auto;
    margin: 0px 1px;
    font-size: 13px;
    font-family: "DPDLightFont";
    border-radius: 7px;
    padding: 10px 5px 10px 10px;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
    border: 1px solid #E6E7E8 !important;
    max-height: 300px !important;
}

    .ui-datepicker table {
        width: 100%;
    }

/*    .ui-datepicker::before {
        content: "\00a0";
        width: 14px;
        height: 11px;
        background: url("../../images/web20/infoi_layer_triangle.png") no-repeat;
        position: relative;
        display: inline-block;
        top: -21px;
        right: 10px;
        float: right;
    }*/

.ui-datepicker-header {
    background-color: #ffffff;
    border: none;
    color: #414042;
    font-family: "DPDRegularFont";
    font-size: 15px;
    line-height: 26px;
}

.ui-datepicker-title {
    text-align: center;
    margin-bottom: 5px;
}

.ui-datepicker-prev, .ui-datepicker-next {
    top: 10px;
    display: inline-block;
    width: 23px;
    height: 23px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    background-size: 8px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
}

.ui-datepicker-prev {
    background-image: url("../images/arrow_small_black_left.svg");
    float: left;
}

    .ui-datepicker-prev:hover {
        background-color: #dc0032;
        background-image: url("../images/arrow_small_white_left.svg");
    }

.ui-datepicker-next {
    background-image: url("../images/arrow_small_black_right.svg");
    float: right;
}

    .ui-datepicker-next:hover {
        background-color: #dc0032;
        background-image: url("../images/arrow_small_white_right.svg");
    }

.ui-datepicker thead {
    background-color: #ffffff;
    color: #414042;
    text-decoration: none;
    font-family: "DPDRegularFont";
    font-size: 12px;
    line-height: 16px;
    border-bottom: 0.5px solid #E6E7E8;
}

.ui-datepicker th {
    text-transform: uppercase;
}

.ui-datepicker td span, .ui-datepicker td a {
    display: inline-block;
    font-weight: 300;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #414042;
    border-radius: 18px;
    border: 1px solid white;
    box-sizing: border-box;
    background-color: #ffffff;
    text-decoration: none;
}

.ui-datepicker-calendar .ui-state-hover {
    background-color: #dc0032;
    color: #ffffff;
    border: 1px solid #dc0032;
}

.ui-datepicker-week-end {
    color: #818082;
}

    .ui-datepicker-week-end .ui-state-default {
        color: #b7b6b7;
    }

    .ui-datepicker-week-end .ui-state-active {
        background-color: #b7b6b7;
        color: #ffffff;
        border: 1px solid #b7b6b7;
    }

    .ui-datepicker-week-end .ui-state-hover {
        background-color: #dc0032;
        color: #ffffff;
        border: 1px solid #dc0032;
    }

.ui-datepicker-unselectable span {
    color: #e6e7e8 !important;
}

.ui-datepicker-today a {
    border: 1px solid #e6e7e8 !important;
    font-family: "DPDRegularFont" !important;
    font-size: 16px !important;
}

.ui-datepicker-current-day .ui-state-active {
    background-color: #dc0032 !important;
    color: white !important;
    border: 1px solid #dc0032 !important;
    font-family: "DPDRegularFont";
    font-size: 16px !important;
}
